<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/food_form_process" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <label for="is_spicy">Is it spicy?</label>
        <select name="is_spicy" id="is_spicy">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <input type="hidden" name="secret_input" value="this_is_secret">
        <label for="check">Check this box or I'll redirect you back here</label>
        <input type="checkbox" name="check" id="check">
        <button>Submit</button>
    </form>
</body>
</html>